
<main class="TodoAppMain">
  <h1 class="TodoListTitle"><%= user_name %>'s Todo-list</h1>
  <%= form_with(url: "/todos", method: "POST", class: "AddTodo") do %>
    <%= text_field_tag 'todo_text', nil, placeholder: 'New todo text ...',
       class: "AddTodo-text", autofocus: true
    %>
    <%= date_field_tag "due_date", nil, placeholder: "dd/mm/yyyy",
          class: "AddTodo-date"
    %>
    <%= button_tag "Add", class: "AddTodo-button" %>
  <% end %>
  <%=render partial: "todos_section", locals: {
    section_title:"Overdue",
    todos: Todo.overdue,
    show_due_date: true
  }  %>
  <%=render partial: "todos_section", locals: {
    section_title:"Due Today",
    todos: Todo.due_today,
    show_due_date: false
  }  %>
  <%=render partial: "todos_section", locals: {
    section_title:"Due Later",
    todos: Todo.due_later,
    show_due_date: true
  }  %>
</main>
