<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="TodoBody" >
    <% if @current_user %>
      <h1 class="HomeUser-salutation">
        <%= @current_user.first_name %>'s Todo Manager
        <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
      </h1>
    <% end %>
      <p class="Flash-message">
        <%= flash[:error] %>
      </p>

    <%= yield %>
    <h3 style="background-color:lightgreen;color:blue;text-align:center;margin-top:10px;">@rks durgapur </h3>
  </body>
</html>
